/*---------------------------------------------------------------------------*/
/* Universal styling                                                         */
/*---------------------------------------------------------------------------*/
  
html {
    font-size: 16px;
    font-family: "Source Sans Pro";
    color: rgb(74, 74, 74);
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

h2 {
    font-size: 1.3rem;
    font-weight: bold;
}


.container { /* container take width of view port (up to some max)  */
    margin: auto;
    width: auto;
    max-width: 1024px;
}

.container .left-column {
    height: auto;
    width: 60%;
    padding: 2rem 1.5rem;
}

.container .right-column {
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    padding-right: 0;
    padding-bottom: 2rem;
}


.panel {
    display: flex;
    border: 1px rgb(175, 175, 175) dotted;
}

.panel .left-column  {
    height: auto;
    width: 35%;
    padding: 1rem;
}

.panel .right-column  {
    display: flex;
    width: 65%;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0;
}


.img-resize, .img-resize2 {   /* Image that resizes to parent container */
    height: auto;
    width: 100%;
}

.img-resize2 {
    display: none;
}

/*---------------------------------------------------------------------------*/
/* Header                                                                    */
/*---------------------------------------------------------------------------*/

header {
    display: flex;
    height: 4rem;  
    background-color: rgb(247, 247, 227);
    align-items: center;
    justify-content: space-between;
}

.company-logo {
    display: flex;
    align-items: center;
    font-family: "Ubuntu";
    font-size: 2rem;
}
.company-logo img {
    padding-left: 1.5rem;
    height: 2.5rem;
 }

.company-logo span {
    color: rgb(74, 74, 74);
}

.company-logo span.grey-text {
     color: rgb(175, 175, 175);
 }
 
 ul {
    display: flex;
    list-style-type: none;
    align-items: center;
 }

 ul li {
     padding-left: 1rem;
 }

 ul li:last-child {
    padding-right: 1.5rem;
 }
 
 ul li a {
    text-decoration: none;
    color: rgb(74, 74, 74);
 }

 nav {
    display: inline-flex;
    align-content: center;
 }

 .mobile-menu {
    display: none;
}

@media only screen and (max-width: 470px) {
    .company-logo {
        display: none;
    }

    .menu {
        display: none;
    }

    .mobile-menu {
        display: flex;
    }
}

/*---------------------------------------------------------------------------*/
/* Banner                                                                    */
/*---------------------------------------------------------------------------*/

.banner {
    display: flex;
    color: rgb(74, 74, 74);
    background: rgb(216, 216, 216);
}

.banner h1, .banner h2 {
    margin-bottom: 1.5rem;
}

.banner .button {
    width: 75%;
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    padding: 0.5rem;
    background: rgb(74, 74, 74);
    color: white;
}

@media only screen and (max-width: 470px) {
    .banner {
        flex-direction: column;
    }

    .banner .left-column {
        padding: 0 0 2rem 0;
        width: 100%;
    }

    .banner .right-column {
        align-items: center;
        width: auto;
    }
}


/*---------------------------------------------------------------------------*/
/* Information section styling                                               */
/*---------------------------------------------------------------------------*/

.information {
    display: flex;
    background-color: rgb(247, 247, 227);
}

.information .left-column h1 {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

.information .left-column p {
    padding-bottom: 1.5rem;
}

.information .right-column h2 {
    padding-bottom: 0.5rem;
}

.information .right-column p {
    padding-bottom: 0.5rem;
}

.information a {
    text-decoration: none;
}

/*
.information .panel h2 {
    padding-bottom: 0.5rem;
}*/

@media only screen and (max-width: 470px) {
    .information .left-column {
        display: none;
    }

    .information .img-resize {
        display: none;
    }
    
    .information .img-resize2 {
        display: inline;
    }
}


/*---------------------------------------------------------------------------*/
/* Coursework section styling                                                */
/*---------------------------------------------------------------------------*/

.coursework {
    display: flex;
    flex-direction: column;
    background-color: rgb(216, 216, 216);
}

.coursework h1 {
    text-align: center;
    padding: 2rem 0;
}
.subjects-row {
    flex-basis: auto;
    display: flex;
    width: auto;
    justify-content: center;
    margin-bottom: 2rem;
}

.subject {
    background-color: rgb(247, 247, 227);
    /* Space available to subject panels is the width of parent container less 
       padding between the panels. This value is divided by number of panels in
       a row to get the width of an idividual panel */
    width: calc( calc(100% - 13rem) / 3 );
    margin-right: 2rem;
}

.subject:last-child {
    margin-right: 0;
}

.info {
    padding: 1rem 1rem 1.5rem 1rem;
}

.info h2 {
    padding-bottom: 0.5rem;
}

.info span {
    padding-bottom: 0.5rem;
}

.info p {
    padding-top: 0.5rem;
}

/*---------------------------------------------------------------------------*/
/* Thesis section styling                                                    */
/*---------------------------------------------------------------------------*/

.thesis-exibit {
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 247, 227);
}

.thesis-exibit h1 {
    text-align: center;
    padding: 2rem 0;
}

.thesis-exibit video {
    width: 100%;
    height: auto; 
}

.thesis-exibit video + h2 {
    padding-top: 1.5rem;
    padding-bottom: 0.5rem
}


.theses {
    display: flex;
}

.theses > .left-column {
    padding-top: 0;
}

.theses > .right-column {
    justify-content: flex-start;
}

.theses .panel h2 {
    padding-bottom: 0.5rem;
}

@media only screen and (max-width: 470px) {
    .theses .left-column h2, .theses .left-column p {
        display: none;    
    }
    .theses .right-column {
        display: none;
    }
}


/*---------------------------------------------------------------------------*/
/* Footer styling                                                            */
/*---------------------------------------------------------------------------*/

footer {
    display: flex;
    justify-content: space-between;
    font-size: .9rem;
    padding: 1rem 0 2rem 1.5rem;
    border-top: 1px rgb(175, 175, 175) dotted;
    background-color: rgb(247, 247, 227);    
}